.z-20 {
    z-index: 20 !important;
}

.icons {
    margin-bottom: 15px;
    color: #F98080;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    /* width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: all 0.3s ease-in-out;
        cursor: pointer; */

}

.icons:hover {
    color: #fff;
    background: #F98080;
}